    .footer {
      background-color: #1d487c;
      color: white;
      padding: 7.75rem 0 3rem 0;
      text-align: center;
      position: relative;
      z-index: 0;
      overflow: hidden;
    }

    .footer::before {
      content: "";
      display: block;
      width: 80px; /* adjust size */
      height: 80px;
      background-image: url('../ccelogo.png'); /* replace with your logo path */
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 0 auto 1rem auto; /* centers and adds space below */
    }

    .footer a {
      text-decoration: none;
      color: #b0a4f5;
    }

    .footer a:hover {
      color: aquamarine;
    }

    /* Footer Socials */
    .footer-socials {
      display: flex;
      justify-content: center;
      gap: 1rem;
      padding: 0.8rem 0;
      background: transparent;
    }

    .footer-socials img {
      width: 1.5rem;
      height: 1.5rem;
      filter: invert(100%) brightness(200%);
      transition: opacity 0.2s ease-in-out;
    }
    

    .footer-socials img:hover {
      opacity: 0.8;
    }

    .copyrighttext {
      color: #9285da;
    }


    @media (max-width: 600px) {
      .footer-socials img {
        width: 24px;
        height: 24px;
      }
    }