#translateBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
  }

  #translateBtn img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  @media (max-width: 600px) {
    #translateBtn {
      width: 50px;
      height: 50px;
      bottom: 15px;
      right: 15px;
    }
  }

  /* Hide unwanted Google UI */
  .goog-te-banner-frame.skiptranslate,
  .goog-te-gadget-icon,
  .goog-te-menu-value,
  .goog-te-menu-frame {
    display: none !important;
  }
  body {
    top: 0px !important;
  }